@import "nav_style.css";

body{
    font-family: "helvetica";
    background-color: rgb(249, 249, 249);
}

#title{
    margin-top: 20px;
    margin-right: 30%;
    margin-left: 39%;
}

#linkedin{
    margin-left: 41%;
}

#linkedin_link{
    text-decoration:underline;
    color:black;
}
#linkedin_link:hover{
    color:rgb(16, 116, 149);
}

#info_form{
    margin-right: 30%;
    margin-left: 35%;
}

input{
    width: 400px;
}
textarea{
    width:400px;
    height:300px;
}