/*---------------import----------------*/

@import "nav_style.css";
@import "footer.css";
* {
    margin: 0;
    padding: 0;
}

/*---------------main----------------*/

body{
    font-family: "helvetica";
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height:88vh;
    padding: 0 7%;
}

#intro{
    flex: 1 1;
    min-width: 500px;
    padding: 2em;
}
#welcome_message{
    font-size: 2.9em;
    padding-left: 20px;
}

#short_intro{
    font-size: 1.4em;
    padding: 20px;
}

#link_about{
    font-size: 1em;
    text-decoration:none;
    color:rgb(16, 116, 149);
    padding-left: 20px;
}

#image{
    width: 100%;
}

/*---------------responsive media queries----------------*/

