@import "nav_style.css";
@import "footer.css";
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "helvetica";
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#intro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height:88vh;
    padding: 0 7%;
}

#intro_text{
    flex: 1 1;
    min-width: 400px;
    padding: 20px;
}
#welcome_message{
    font-size: 45px;
    padding: 20px;
}

#short_intro{
    font-size: 20px;
    padding: 20px;
}

#link_about{
    font-size: 15px;
    text-decoration:none;
    color:rgb(16, 116, 149);
    padding: 20px;
}

#image{
    width: 100%;
    flex-shrink: 1;
 
}




