@import "nav_style.css";
body{
    font-family: "helvetica";
    background-color: rgb(249, 249, 249);
}

#intro{
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 11%;
}

#intro_text{
    flex: 1;
    padding: 20px;
}
#welcome_message{
    font-size: 50px;
    padding: 20px;
}

#short_intro{
    font-size: 23px;
    padding: 20px;
}

#link_about{
    font-size: 17px;
    text-decoration:none;
    color:rgb(16, 116, 149);
    padding: 20px;
}

#image{
    flex: 1;
    text-align: center;
}
#memoji{
    max-width: 100%;
    height: auto;
}

@media (max-width: 700px) {
    #memoji{
      display: none;
      visibility: hidden;
    }
  }


