* {
    margin-top: 0;
    margin-left:0;
    margin-right:0;
}

nav{
    display: block;
}

.link{
    font-size: 20px;
    /*padding: 10px 60px;*/
    text-decoration:none;
    color: black;
}

.link:hover{
    color:rgb(16, 116, 149);
}

#nav_container{
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

#icon{
    width: 80px;
    height: 80px;
    margin: 5px;
    padding-left: 15px;
    flex-shrink: 1;
}

#header{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}