nav{
    display: block;
}

.link{
    font-size: 20px;
    padding: 10px 60px;
}

#icon{
    width: 80px;
    height: 80px;
    margin: 5px;
}

#nav_container{
    display: flex;
    align-items: center;
}

#header{
    position: absolute;
    left: 20%;
    right: 10%;
}