@import "nav_style.css";
@import "footer.css";

body{
    font-family: "helvetica";
    background-color: rgb(249, 249, 249);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 3vh;
}
